* {
    margin: 0;
    padding: 0;
}

.title {
    width: 90%;
    text-align: center;
    color: #85004D;
}

.display-flex {
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

.container {
    background-color: #DEC4FF;
    width: 18%;
    height: 310px;
    border-radius: 25px;
}

.sections {
    margin-left: 5%;
    margin-top: 5%;
}

#input-p {
    color: #FBFF52;
    background-color: #85004D;
    outline: none;
    border-radius: 25px;
    width: 88%;
    height: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
}

.second-section {
    margin-top: 5%;
}

.btn,
.btnC,
.btnO,
.btn-clear {
    color: #FBFF52;
    background-color: #85004D;
    width: 21%;
    border-radius: 25px;
    height: 35px;
    margin-left: 1%;
    outline: none;
}

.rows {
    margin-top: 10px;
}